In [2]:
from pyspark.sql import SparkSession
student_data = [("Chris",1523,0.72,"CA"),
                ("Jake", 1555,0.83,"NY"),
                ("Cody", 1439,0.92,"CA"),
                ("Lisa",1442,0.81,"FL"),
                ("Daniel",1600,0.88,"TX"),
                ("Kelvin",1382,0.99,"FL"),
                ("Nancy",1442,0.74,"TX"),
                ("Pavel",1599,0.82,"NY"),
                ("Josh",1482,0.78,"CA"),
                ("Cynthia",1582,0.94,"CA")]
spark = SparkSession.builder.getOrCreate()
student_rdd = spark.sparkContext.parallelize(student_data)
rdd_transformation = student_rdd.map(lambda x: (x[0], x[1], int(x[2]*100), x[3]))

1. View the first 5 elements of `rdd_transformation`.

In [3]:
## YOUR SOLUTION HERE ##
rdd_transformation.take(5)

[('Chris', 1523, 72, 'CA'),
 ('Jake', 1555, 83, 'NY'),
 ('Cody', 1439, 92, 'CA'),
 ('Lisa', 1442, 81, 'FL'),
 ('Daniel', 1600, 88, 'TX')]

2. Sum the grades in `rdd_transformation` and save the result as `sum_gpa`.

In [7]:
## YOUR SOLUTION HERE ##
sum_gpa = rdd_transformation.map(lambda x: x[2]).reduce(lambda x, y: x + y)

# view the sum
sum_gpa

843

3. Divide `sum_gpa` by `rdd_transformation.count()` to get the average grade.

In [8]:
## YOUR SOLUTION HERE ##
avg_grade = sum_gpa / rdd_transformation.count()

avg_grade

84.3